<app-navbar></app-navbar>
<div class="bootstrap-wrapper">
    <div class="row full-screen">
        <div class="col-lg-12">
            <div class="row welcomeBox" id="home">
                <div class="col-lg-12 box1">
                    <div class="row ">
                        <div class="col-lg-12 welcomeText">
                            <h2 id="welcome">Welcome to</h2>
                            <h2 id="health">Health Care</h2>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-5 para">
                            <h4 id="para">Time and health are two precious assets that we don't recognize and appreciate
                                until they
                                have been depleted. An online booking system allows the customers to book appointments
                                with you or book your services through an online platform. Such a system allows the
                                business owner/admin to control and oversee the availability of their services and the
                                bookable hours that are available to the customers.</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 bookBtn">
                            <button class="btn1" mat-raised-button color="primary" routerLink="/appointment">Book
                                Appointment</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 ">
                    <img id="va-img" src="./../../../assets/images/va-image.png" width="550px">
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12 va">
                            <h2 id="gva">Get Virtual Assitance</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 mt20">
                            <h4>Virtual Assitance is designed to assist patients in identifying potential health issues based on the symptoms they provide, offering a convenient and informative way to seek preliminary guidance on their health concerns.</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mt20">
                            <a href="http://localhost:8501">
                            <button style="width: 200px; height: 40px; font-size: 20px;" mat-raised-button
                                color="primary" >Click Here</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="aboutUs">

                <div class="col-lg-12 about-us">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 style="font-size: 55px; font-weight: bold; margin-top: 185px; margin-left: 350px;">About
                                Us</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <h4 style="margin-left: 350px; margin-top: 35px;">Healthcare system that predicts diseases and streamlines appointment booking. Our mission is to enhance healthcare accessibility and patient outcomes, making the healthcare experience more convenient and efficient.</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button routerLink="/about" mat-raised-button color="primary" style="margin-left: 350px;">Learn More</button>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-5 au">
                    <div class="row">
                        <div class="col-lg-12 ">
                            <h2 id="gva">About Heath Care</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 mt20">
                            <h4 id="gva-para">I'm a paragraph. Click here to add your own text and edit me. It’s easy.
                                Just click “Edit Text” or double click me to add your own content and make changes to
                                the font. Feel free to drag and drop me anywhere you like on your page. I’m a great
                                place for you to tell a story and let your users know a little more about you.</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mt30">
                            <button style="width: 200px; height: 40px; font-size: 20px;" mat-raised-button
                                color="primary">Read More</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <img  src="./../../../assets/images/about us.png" width="700px">
                </div> -->
            </div>
            <div class="row " id="doctors">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 id="doctor-title">Doctors</h2>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10 ">
                            <swiper-container class="" navigation="true" slides-per-view="3">


                                <swiper-slide>
                                    <div class="row card">
                                        <div class="col-lg-12 doctor-card">

                                            <div class="row">
                                                <div class="col-lg-11 card-image" id="dr1"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-11 card-heading">
                                                    <!-- <div class="card-avatar">
                                                        <mat-icon matSuffix><span class="material-symbols-outlined">
                                                                account_box
                                                            </span></mat-icon>

                                                    </div> -->

                                                    <div class="card-title">
                                                        <h3>Dr. Robert B. Cameron</h3>
                                                        <p>Thoracic & Cardiac Surgeon</p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </swiper-slide>

                                <swiper-slide>
                                    <div class="row card">
                                        <div class="col-lg-12 doctor-card">

                                            <div class="row">
                                                <div class="col-lg-11 card-image" id="dr2"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-11 card-heading">
                                                    <!-- <div class="card-avatar">
                                                        <mat-icon matSuffix><span class="material-symbols-outlined">
                                                                account_box
                                                            </span></mat-icon>

                                                    </div> -->

                                                    <div class="card-title">
                                                        <h3>Dr. Melinda J. Braskett</h3>
                                                        <p>Allergist & Immunologist</p>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </swiper-slide>
                                <swiper-slide>
                                    <div class="row card">
                                        <div class="col-lg-12 doctor-card">

                                            <div class="row">
                                                <div class="col-lg-11 card-image" id="dr3"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-11 card-heading">
                                                    <!-- <div class="card-avatar">
                                                        <mat-icon matSuffix><span class="material-symbols-outlined">
                                                                account_box
                                                            </span></mat-icon>

                                                    </div> -->

                                                    <div class="card-title">
                                                        <h3>Dr. Patrick C. Hsieh</h3>
                                                        <p>Neurosurgeon</p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </swiper-slide>
                                <swiper-slide>
                                    <div class="row card">
                                        <div class="col-lg-12 doctor-card">

                                            <div class="row">
                                                <div class="col-lg-11 card-image" id="dr4"></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-11 card-heading">
                                                    <!-- <div class="card-avatar">
                                                        <mat-icon matSuffix><span class="material-symbols-outlined">
                                                                account_box
                                                            </span></mat-icon>

                                                    </div> -->

                                                    <div class="card-title">
                                                        <h3>Dr. James T. McCracken</h3>
                                                        <p>Child & Adolescent Psychiatrist</p>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </swiper-slide>

                               
                               
                            </swiper-container>
                        </div>
                        <div class="col-lg-1"></div>

                    </div>

                </div>
            </div>
           <app-contact-us></app-contact-us>


            
        </div>
    </div>

</div>